.body,html {
    background-color:floralwhite;
}

.post {
    background-color: #15202B;
    padding: 15px;
    margin: auto;
    max-width: 900px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.header {
    display: flex;
}

.header__icon {
    padding: 10px;
}

.header__icon > img{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.header__content {
    width: 100%;
    padding-left: 20px;
    position: relative;
}

.header__content__name {
    font-weight: bold;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.header__content__badge{
    font-weight: bold;
    font-size: 28px;
    color: white;
    vertical-align: middle;
}

.header__content__nick-date {
    margin-left: 10px;
    font-size: 22px;
    color:#8393A0;
}

.header__content__open{
    font-size: 42px;
    color:#8393A0;
    width: max-content;
    max-height: max-content;
    transform: rotate(270deg);
    position: absolute;
    top: -15px;
    right: 20px;
    cursor: pointer;
}

.header__content__text {
    font-size: 22px;
    color: white;
}

.main__img {
    margin-left: 140px;
}

.main__img > img {
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
}

.footer__icons {
    display: flex;
    margin-left: 140px;
    padding-top: 15px;
    color:#8393A0;
    justify-content: space-between;
    padding-right: 12%;
    padding-left: 10px;
}

.footer__icons__icon {
    font-size: 32px;
    margin-left: 5px;
    cursor: pointer;
}

.footer__icons__text {
    font-size: 24px;
    margin-left: 10px;
    vertical-align: top;
}